<ion-view view-title="ДОБАВИТЬ ОБЪЕКТ" scroll="false" data-tap-disabled="true"
          xmlns:border="http://www.w3.org/1999/xhtml">

  <ion-content>


    <ion-list>
      <div ng-repeat="type in types">
        <ion-item class="item-stable"
                  ng-click="toggleType(type)"
                  ng-class="{active: isTypeShown(type)}">
          <i class="icon" ng-class="isTypeShown(type) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{type.name}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in type.items"
                  ng-show="isTypeShown(type)">
          {{item}}
        </ion-item>
      </div>
    </ion-list>

    <br>

    <ion-list>
      <div ng-repeat="kind in kinds">
        <ion-item class="item-stable"
                  ng-click="toggleKind(kind)"
                  ng-class="{active: isKindShown(kind)}">
          <i class="icon" ng-class="isKindShown(kind) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{kind.name}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in kind.items"
                  ng-show="isKindShown(kind)">
          {{item}}
        </ion-item>
      </div>
    </ion-list>


    <div class="list">
      <h4  align="center">Адресс объекта</h4>
      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <i class="icon ion-edit placeholder-icon"></i>
          <input type="text" placeholder="Введите улицу">
        </label>
      </div>

      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <i class="icon ion-edit placeholder-icon"></i>
          <input type="text" placeholder="Введите дом">
        </label>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{pictureUrl}}">
      </div>

      <div class="padding">
        <button ng-click = "takePicture()" class="button button-block button-calm">Сделать фото объекта</button>
        <button ng-click = "retrievePicture()" class="button button-block button-calm">Выбрать из галереи</button>
      </div>
    </div>


    <h4 align="center">Комментарий:</h4>

  </ion-content>
</ion-view>

