 body {
    height: 100%;
    width: 100%;
}
html{
    height:100%;
}
[ng-app]{
    height:100%;
}
#map {
    height: 100%;
}

.ion-location {
    font-size: 50px;
    align-content: center;
}

 body {
     cursor: url('http://ionicframework.com/img/finger.png'), auto;
 }

 .list .item.item-accordion {
     line-height: 38px;
     padding-top: 0;
     padding-bottom: 0;
     transition: 0.2s all linear;
 }
 .list .item.item-accordion.ng-hide {
     line-height: 0px;
 }
 .list .item.item-accordion.ng-hide-add,
 .list .item.item-accordion.ng-hide-remove {
     display: block !important;
 }